.navbar {
    width: 100%;
    height: 100px;
    background-color: #33383b;
    display: flex;
    flex-direction: row;

    .logo {
        flex: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 40px;

        a {
            font-size: 35px;

            :hover {
                color: beige;
            }            
        }
    }

      a {
        color: white;
        text-decoration: none;
        margin: 20px;
      }
    

      .menu {
        flex: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;
          }

          svg {
            font-size: 40px;
          }
        
      }

      #open {
        padding-left: 0px;

        img {
            display: none;
          }

          .hiddenLinks {
            display: inherit;
            margin-left: 30px;
          }
          a {
            width: 70px;
            margin: 5px;
          }
      }

      #close img {
        display: inherit;

        .hiddenLinks {
            display: none;
          }
      }

      @media only screen and (max-width: 900px) {
        .navbar .menu a {
          width: 70px;
        }
        .navbar .logo {
          padding-left: 50px;
        }
      }

      @media only screen and (max-width: 600px) {
        .navbar .menu a {
          display: none;
        }
    
        .navbar .menu {
          justify-content: flex-end;
          padding-right: 50px;
        }
    
        .navbar .menu button {
          display: inherit;
        }
      }
    
      @media only screen and (min-width: 600px) {
        .navbar .menu button {
          display: none;
        }
    
        .hiddenLinks {
          display: none;
        }
      }
}


.searchbar  {

    .search {
    width: 100%;
    position: relative;
    display: flex;
    padding-bottom: 5px;
    }   
    
    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #33383b;
        background: #33383b;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #33383b;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color:black;
    }

    .wrap{
        width: 35%;
        margin: auto;
        padding: 30px;
    }

    .dataResult {
        width: 90%;
        height: 150px;
        background-color: white;
        overflow: hidden;
        padding: 10px;
        border-radius: 5px;
        text-align: left;
        overflow-y: auto;
        border: 1px solid #33383b;
    }

    .dataItem {
        padding: 2px;
        font-size: 20px;    
    }
}

.blog {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
    max-width: 60%;
    margin: auto;

    h1 {
        font-size: 30px;
        padding: 20px 0px 30px;
        text-decoration: underline;
    }
    /*Items for Blog site*/

    .PostsItems {
        border-radius: 15px;
        height: 300px;
        margin: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

        p {
            font-size: 20px;
            margin: 0px;
            padding: 0px;
        }

        h1 {
            font-size: 35px;
            margin: 0px;
            padding: 15px;
        }
        
        :hover {
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
            transition: 0.3s ease-in;
            cursor: pointer;
        }

        div {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 150px;
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media only screen and (max-width: 1300px) {
        .PostsItems {
              grid-template-columns: 1fr 1fr;
            }
        }
        
          @media only screen and (max-width: 800px) {
        .PostsItems {
              grid-template-columns: 1fr;
            }
        }
}

.about {
    width: 100%;
    height: 90vh;
    text-align: center;
    font-size: 30px;
    
    p {
        font-size: 25px;
    }

    h1 {
        font-size: 30px;
        padding: 20px 0px 60px;
        text-decoration: underline;
    }

    .aboutSection {
        font-size: 20px;
        max-width: 60%;
        margin: auto;
    }

    img {
        width: 400px;
        height: 600px;
        padding: 20px;
    }
}

.about {
    width: 100%;
    height: 90vh;
    text-align: center;
    font-size: 30px;

    p {
        font-size: 25px;
    }

    h1 {
        font-size: 30px;
        padding: 20px 0px 60px;
        text-decoration: underline;
    }

    .aboutSection {
        font-size: 20px;
        max-width: 60%;
        margin: auto;
    }

    img {
        width: 400px;
        height: 600px;
        padding: 20px;
    }
}

.compatibilator {
    width: 100%;
    height: 90vh;
    text-align: center;
    font-size: 30px;

    h1 {
        font-size: 30px;
        padding: 20px 0px 30px;
        text-decoration: underline;
    }

    .application {
        max-width: 60%;
        margin: auto;

        p {
            font-size: 20px;
        }
    }
    
}


.contact {
    width: 100%;
    height: 90vh;
    text-align: center;
    font-size: 30px;

    h1 {
        font-size: 30px;
        padding: 20px 0px 60px;
        text-decoration: underline;
    }

    .contactForm {
        font-size: 20px;
        max-width: 60%;
        margin: auto;

        label {
            display: block;
            margin: 20px 0px;
            text-align: left;
        }

        input, textarea {
            width: 100%;
            outline: none;
            resize: none;
            border: none;
            border-bottom: 1px solid rgb(184, 177, 177);
        }

        .fileUploader i {
            font-size: 40px;
         }
    }

    input:focus, textarea:focus {
        border-bottom: 1px solid black;
    }
    
    button {
        margin-top: 50px;
        width: 90%;
        max-width: 200px;
        background-color: #33383b;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
        font-size: 17px;
    }
}

.filterWithResults .filter {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    .dataResult {
        width: 40%;
        margin: auto;
        height: 150px;
        background-color: white;
        overflow: hidden;
        padding: 15px;
        border-radius: 5px;
        text-align: left;
        overflow-y: auto;
        border: 1px solid #33383b;
    }
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #33383b;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    flex-direction: column;

    p {
        color: white;
        font-size: 15px;
    }

    .socialMedia i {
        margin: 20px;
        font-size: 35px;
        cursor: pointer;
        color: white;
    }
}

